<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter
     简化了部分碰撞模型
     采用圆柱体代替mesh文件，避免凹体放大不了 -->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="G01">
  <xacro:property name="arm_collision_scale" value="1.05" />
  <xacro:include filename="cr7_robot.urdf" />

  <link name="world" />
  <joint name="world_to_base_footprint" type="fixed">
        <parent link="world" />
        <child link="base_footprint"/>
        <origin xyz="0 0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="base_footprint">
        <visual>
            <geometry>
                <sphere radius="0.001" />
            </geometry>
        </visual>
  </link>

  <!--  X方向的运动 -->
  <link name="base_x_link">
    <visual>
    <geometry>
      <sphere radius="0.001" />
    </geometry>
    </visual>
  </link>

  <joint name="base_joint1" type="prismatic">
    <parent link="base_footprint" />
    <child  link="base_x_link" />

    <origin xyz="0 0 0" rpy="0 0 0" />

    <axis xyz="1 0 0" />
    <limit lower="-1.0" upper="1.0" effort="100.0" velocity="1.0" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0833751232270759 -0.00157919453986541 0.24033544244362"
        rpy="0 0 0" />
      <mass
        value="34.9231249877199" />
      <inertia
        ixx="0.361785347136397"
        ixy="-0.00841267665406299"
        ixz="0.0027601796793283"
        iyy="0.196337105587228"
        iyz="-0.000784095863847305"
        izz="0.5057472611945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 3.1415936" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/base_link_shell.STL" />
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.217 0 0.6445"
        rpy="0 0 0" />
      <geometry>
        <box
          size="0.34 0.34 0.035" />
      </geometry>
    </collision>
  </link>

   <joint name="base_joint2" type="revolute">
      <parent link="base_x_link" />
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <limit lower="-3.14" upper="3.14" effort="100.0" velocity="1.0" />      
  </joint>

  <link
    name="base_sj">
    <inertial>
      <origin
        xyz="0.00644601798435016 -1.53865218459097E-05 0.229438010554376"
        rpy="0 0 0" />
      <mass
        value="19.7724725085068" />
      <inertia
        ixx="0.322657286178053"
        ixy="-6.18791171035489E-07"
        ixz="2.9377362500673E-05"
        iyy="0.327130614474479"
        iyz="1.0661862891089E-07"
        izz="0.123816976255545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_sj_joint"
    type="fixed">
    <origin
      xyz="0.127 0 0.1355"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_sj" />
  </joint>
  <link
    name="SJ">
    <inertial>
      <origin
        xyz="-0.00345119031577348 0.000266161209262043 0.320314377129165"
        rpy="0 0 0" />
      <mass
        value="17.1115281100298" />
      <inertia
        ixx="0.311824052364632"
        ixy="5.73874861281675E-08"
        ixz="1.88262796966466E-05"
        iyy="0.313883784661324"
        iyz="-0.000418652057797895"
        izz="0.0815253338496027" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint1"
    type="prismatic">
    <origin
      xyz="0 0 0.048"
      rpy="0 0 0" />
    <parent
      link="base_sj" />
    <child
      link="SJ" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.19"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="YB">
    <inertial>
      <origin
        xyz="-0.0199130782635125 0.278892660913785 -0.108205878200632"
        rpy="0 0 0" />
      <mass
        value="5.10087522591895" />
      <inertia
        ixx="0.0183533743406918"
        ixy="1.31383736713042E-05"
        ixz="3.90891873836747E-06"
        iyy="0.0175943058268704"
        iyz="3.73919329188091E-05"
        izz="0.0136641235432857" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint2"
    type="revolute">
    <origin
      xyz="0 0.1175 0.654"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="SJ" />
    <child
      link="YB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1"
      effort="100"
      velocity="100" />
  </joint>



  <xacro:cr7_robot
    prefix="l_"
    link_prefix="L"
    joint_prefix="l_arm_joint"
    parent="YB"
    xyz="0.000 0.418 0.059"
    rpy="0 0 -3.1415926"
    dh_id="'1079'" />

  <xacro:cr7_robot
    prefix="r_"
    link_prefix="R"
    joint_prefix="r_arm_joint"
    parent="YB"
    xyz="-0.000 0.418 -0.294"
    rpy="-3.1415926 0 0"
    dh_id="'1084'" />

</robot>
