<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter
     简化了部分碰撞模型
     采用圆柱体代替mesh文件，避免凹体放大不了 -->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="G01">
  <xacro:property name="arm_collision_scale" value="1.05" />
  <xacro:include filename="cr7_robot.urdf" />

  <link name="world" />
  <joint name="world_to_base_footprint" type="fixed">
        <parent link="world" />
        <child link="base_footprint"/>
        <origin xyz="0 0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="base_footprint">
        <visual>
            <geometry>
                <sphere radius="0.001" />
            </geometry>
        </visual>
  </link>

  <!--  X方向的运动 -->
  <link name="base_x_link">
    <visual>
    <geometry>
      <sphere radius="0.001" />
    </geometry>
    </visual>
  </link>

  <joint name="base_joint1" type="prismatic">
    <parent link="base_footprint" />
    <child  link="base_x_link" />

    <origin xyz="0 0 0" rpy="0 0 0" />

    <axis xyz="1 0 0" />
    <limit lower="-1.0" upper="1.0" effort="100.0" velocity="1.0" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0691524291822167 0.259496930651884 -0.00130659890827987"
        rpy="0 0 0" />
      <mass
        value="41.5277464083994" />
      <inertia
        ixx="0.570004732373126"
        ixy="-0.00703781706041236"
        ixz="0.00835110193260417"
        iyy="0.691781343855571"
        iyz="-0.000804977195232927"
        izz="0.285311555623509" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 3.1415926" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 3.1415926" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_joint2" type="revolute">
      <parent link="base_x_link" />
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <limit lower="-3.14" upper="3.14" effort="100.0" velocity="1.0" />      
  </joint>

  <link
    name="base_sj">
    <inertial>
      <origin
        xyz="0.133450982977141 -1.41729194895084E-05 0.367160017405196"
        rpy="0 0 0" />
      <mass
        value="19.9697634207302" />
      <inertia
        ixx="0.323000550121407"
        ixy="-1.38857870649621E-06"
        ixz="6.56605523551475E-05"
        iyy="0.328467888870501"
        iyz="1.09388604275496E-07"
        izz="0.125203078713168" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_sj_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_sj" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="SJ">
    <inertial>
      <origin
        xyz="-0.00395805470520541 8.04674475233509E-05 0.371900051124025"
        rpy="0 0 0" />
      <mass
        value="17.6002532483208" />
      <inertia
        ixx="0.318245215724161"
        ixy="3.13835558262271E-05"
        ixz="-0.000168188402116862"
        iyy="0.317843038906483"
        iyz="-0.000283196972292768"
        izz="0.085449301954894" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint1"
    type="prismatic">
    <origin
      xyz="0.127 0 0.1355"
      rpy="0 0 0" />
    <parent
      link="base_sj" />
    <child
      link="SJ" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.19"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="YB">
    <inertial>
      <origin
        xyz="-0.00496671797700096 0.250265690930262 -0.110261468853256"
        rpy="0 0 0" />
      <mass
        value="6.37285826562377" />
      <inertia
        ixx="0.104057625489572"
        ixy="0.000356602912657763"
        ixz="2.0257963908081E-05"
        iyy="0.0540784200777737"
        iyz="-0.000135803148206808"
        izz="0.0689819139928815" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint2"
    type="revolute">
    <origin
      xyz="0 0.1175 0.697"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="SJ" />
    <child
      link="YB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.0"
      effort="100"
      velocity="100" />
  </joint>

  <link
    name="head">
    <inertial>
      <origin
        xyz="-0.00403705357872861 0.115732858597124 -0.0491268553659784"
        rpy="0 0 0" />
      <mass
        value="0.83283062923428" />
      <inertia
        ixx="0.00142817479719766"
        ixy="-5.17934423555129E-05"
        ixz="-2.22025767502253E-06"
        iyy="0.0014159733101056"
        iyz="4.09940583982823E-06"
        izz="0.000753501633654325" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint"
    type="revolute">
    <origin
      xyz="-0.047 0.5115 -0.1664"
      rpy="3.1416 0 3.1416" />
    <parent
      link="YB" />
    <child
      link="head" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.045"
      upper="0"
      effort="100"
      velocity="100" />
  </joint>



  <xacro:cr7_robot
    prefix="l_"
    link_prefix="L"
    joint_prefix="l_arm_joint"
    parent="YB"
    xyz="0.000 0.418 0.059"
    rpy="0 0 -3.1415926"
    dh_id="'1079'" />

  <xacro:cr7_robot
    prefix="r_"
    link_prefix="R"
    joint_prefix="r_arm_joint"
    parent="YB"
    xyz="-0.000 0.418 -0.294"
    rpy="-3.1415926 0 0"
    dh_id="'1084'" />

</robot>
