<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter
     简化了部分碰撞模型
     采用圆柱体代替mesh文件，避免凹体放大不了 -->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="G01">
  <xacro:property name="arm_collision_scale" value="1.05" />
  <xacro:include filename="cr7_robot.urdf" />

  <link name="world" />
  <joint name="world_to_base_footprint" type="fixed">
        <parent link="world" />
        <child link="base_footprint"/>
        <origin xyz="0 0 0.6" rpy="1.5708 0 3.1415926"/>
  </joint>

  <link name="base_footprint">
        <visual>
            <geometry>
                <sphere radius="0.001" />
            </geometry>
        </visual>
  </link>

  <!--  X方向的运动 -->
  <link name="base_x_link">
    <visual>
    <geometry>
      <sphere radius="0.001" />
    </geometry>
    </visual>
  </link>

  <joint name="base_joint1" type="prismatic">
    <parent link="base_footprint" />
    <child  link="base_x_link" />

    <origin xyz="0 0 0" rpy="0 0 0" />

    <axis xyz="-1 0 0" />
    <limit lower="-1.0" upper="1.0" effort="100.0" velocity="1.0" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0485314645833506 -0.258032769237847 -0.00363036886449786"
        rpy="0 0 0" />
      <mass
        value="24.9214864900972" />
      <inertia
        ixx="0.363673642126909"
        ixy="-3.23019832572223E-05"
        ixz="-1.45773753881236E-05"
        iyy="0.189656629145211"
        iyz="-7.78157617995762E-06"
        izz="0.353485095381884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>

    <!-- 桌子 -->
    <!-- <visual>
      <origin xyz="0.095 -0.023 0.0" rpy="0 0 0" />
      <geometry>
          <box size="0.615 0.18 0.9" />
      </geometry>
      <material name="base_link_box_transparent">
        <color rgba="1 0 0 0.5" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.095 -0.023 0.0" rpy="0 0 0" />
      <geometry>
          <box size="0.615 0.18 0.9" />
      </geometry>
    </collision> -->

    <!-- 底盘 -->
    <!-- <visual>
      <origin xyz="0.13 -0.52 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.78 0.19 0.65" />
      </geometry>
      <material name="base_link_box_transparent">
        <color rgba="1 0 0 0.5" />
      </material>
    </visual> -->
    <collision>
      <origin xyz="0.13 -0.52 0.0" rpy="0 0 0" />
      <geometry>
          <box size="0.785 0.19 0.65" />
      </geometry>
    </collision>
    <!-- 后舱/电池仓 -->
    <collision>
      <origin xyz="0.26 -0.255 0.0" rpy="0 0 0" />
      <geometry>
          <box size="0.34 0.35 0.51" />
      </geometry>
    </collision>
    <!-- 髋部前方 -->
    <collision>
      <origin xyz="0.0 -0.21 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.19 0.42 0.19" />
      </geometry>
    </collision>

    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/base_link.STL" />
      </geometry>
    </collision> -->
  </link>

  <!-- <link name="base_link_box">
      <visual>
        <origin xyz="0.13 -0.52 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.78 0.19 0.65" />
        </geometry>
        <material name="base_link_box_transparent">
          <color rgba="1 0 0 0.5" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.26 -0.255 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.34 0.35 0.51" />
        </geometry>
        <material name="base_link_box_transparent">
          <color rgba="1 0 0 0.5" />
        </material>
      </visual>
      <visual>
        <origin xyz="0.0 -0.21 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.19 0.42 0.19" />
        </geometry>
        <material name="base_link_box_transparent">
          <color rgba="1 0 0 0.5" />
        </material>
      </visual>

      <collision>
        <origin xyz="0.13 -0.52 0.0" rpy="0 0 0" />
        <geometry>
           <box size="0.78 0.19 0.65" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.26 -0.255 0.0" rpy="0 0 0" />
        <geometry>
           <box size="0.34 0.35 0.51" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0 -0.21 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.19 0.42 0.19" />
        </geometry>
      </collision>
  </link>
  <joint name="base_link_box_to_base_link" type="fixed">
        <parent link="base_link" />
        <child link="base_link_box"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

   <joint name="base_joint2" type="revolute">
      <parent link="base_x_link" />
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0" />
      <limit lower="-3.14" upper="3.14" effort="100.0" velocity="1.0" />      
  </joint>

  <link
    name="SJ">
    <inertial>
      <origin
        xyz="0.00360111710978206 -0.213711773237388 -0.000685628135359106"
        rpy="0 0 0" />
      <mass
        value="15.5120061335875" />
      <inertia
        ixx="0.304331232615233"
        ixy="-0.00016788310284059"
        ixz="-2.20087277999054E-05"
        iyy="0.0685117073660919"
        iyz="-1.40947850707228E-05"
        izz="0.303622962734325" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/SJ.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.03 -0.11548 0.0" rpy="0 0 0" />
      <geometry>
        <box size="0.23 0.36 0.18" />
      </geometry>
    </collision>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/SJ.STL" />
      </geometry>
    </collision> -->
  </link>

  <!-- <link name="base_link_sj">
      <visual>
        <origin xyz="0.03 -0.11548 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.23 0.36 0.18" />
        </geometry>
        <material name="base_link_box_transparent">
          <color rgba="1 0 0 0.5" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.03 -0.11548 0.0" rpy="0 0 0" />
        <geometry>
          <box size="0.23 0.36 0.18" />
        </geometry>
      </collision>
  </link>
  <joint name="base_link_sj_to_base_link" type="fixed">
        <parent link="SJ" />
        <child link="base_link_sj"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <joint
    name="body_joint1"
    type="prismatic">
    <origin
      xyz="0 0.04548 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="SJ" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.0"
      upper="0.24"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="YB">
    <inertial>
      <origin
        xyz="-0.0088172919048608 0.319689875724926 -0.0939168502437249"
        rpy="0 0 0" />
      <mass
        value="5.03869108075918" />
      <inertia
        ixx="0.0227295903029523"
        ixy="-1.86442270167271E-05"
        ixz="-3.49178529155489E-07"
        iyy="0.0166272110804989"
        iyz="5.56940206925635E-06"
        izz="0.0212333253825738" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/YB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.02 0.19752 -0.094" rpy="0 0 0" />
      <geometry>
        <box size="0.23 0.51 0.32" />
      </geometry>
    </collision>
    <!-- 头部 -->
    <!-- <collision>
      <origin xyz="-0.15 0.28 -0.094" rpy="0 0 0" />
      <geometry>
        <box size="0.22 0.15 0.13" />
      </geometry>
    </collision> -->
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_g01_description/meshes/YB.STL" />
      </geometry>
    </collision> -->
  </link>

  <!-- <link name="base_link_yb">
      <visual>
        <origin xyz="-0.02 0.19752 -0.094" rpy="0 0 0" />
        <geometry>
          <box size="0.23 0.51 0.32" />
        </geometry>
        <material name="base_link_box_transparent">
          <color rgba="1 0 0 0.5" />
        </material>
      </visual>
      <collision>
        <origin xyz="-0.02 0.19752 -0.094" rpy="0 0 0" />
        <geometry>
          <box size="0.23 0.51 0.32" />
        </geometry>
      </collision>
  </link>
  <joint name="base_link_yb_to_base_link" type="fixed">
        <parent link="YB" />
        <child link="base_link_yb"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <joint
    name="body_joint2"
    type="revolute">
    <origin
      xyz="0 0.117000000000034 0.0940000000000007"
      rpy="0 0 0" />
    <parent
      link="SJ" />
    <child
      link="YB" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.785"
      effort="100"
      velocity="0.26" />
  </joint>



  <xacro:cr7_robot
    prefix="l_"
    link_prefix="L"
    joint_prefix="l_arm_joint"
    parent="YB"
    xyz="0.000 0.378 0.0565"
    rpy="0 0 -3.1415926"
    dh_id="'1079'" />

  <xacro:cr7_robot
    prefix="r_"
    link_prefix="R"
    joint_prefix="r_arm_joint"
    parent="YB"
    xyz="-0.000 0.378 -0.2445"
    rpy="-3.1415926 0 0"
    dh_id="'1084'" />

</robot>
