<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter 
     简化了部分link的碰撞模型-->
<robot
  name="wheel_robot">
  <link name="world" />
  <joint name="world_to_base_footprint" type="fixed">
        <parent link="world" />
        <child link="base_footprint"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_footprint">
        <visual>
            <geometry>
                <sphere radius="0.001" />
            </geometry>
        </visual>
  </link>

  <!--  X方向的运动 -->
  <link name="base_x_link">
    <visual>
    <geometry>
      <sphere radius="0.001" />
    </geometry>
    </visual>
  </link>

  <joint name="base_joint1" type="prismatic">
    <parent link="base_footprint" />
    <child  link="base_x_link" />

    <origin xyz="0 0 0" rpy="0 0 0" />

    <axis xyz="1 0 0" />
    <limit lower="-50.0" upper="50.0" effort="100.0" velocity="1.0" />
  </joint>

  <!--  Y方向的运动 -->
  <link name="base_y_link">
    <visual>
      <geometry>
        <sphere radius="0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="base_joint2" type="prismatic">
    <parent link="base_x_link" />
    <child  link="base_y_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />

    <axis xyz="0 1 0" />
    <limit lower="-50.0" upper="50.0" effort="100.0" velocity="1.0" />
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.010637 0.0011794 0.070973"
        rpy="0 0 0" />
      <mass
        value="44.686" />
      <inertia
        ixx="0.5395"
        ixy="0.00057903"
        ixz="0.020697"
        iyy="0.56507"
        iyz="0.0082015"
        izz="0.96254" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.08"
        rpy="0 0 0" />
      <geometry>
        <box size="0.65 0.65 0.28" />
      </geometry>
    </collision>
  </link>

   <joint name="base_joint3" type="revolute">
      <parent link="base_y_link" />
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <limit lower="-3.14" upper="3.14" effort="100.0" velocity="1.0" />      
  </joint>

  <!-- <link name="base_link_box">
      <visual>
        <origin
        xyz="0 0 0.08"
        rpy="0 0 0" />
          <geometry>
              <box size="0.65 0.65 0.28" />
          </geometry>
          <material name="base_link_box_transparent">
            <color rgba="1 0 0 0.5" />
          </material>
      </visual>
      <collision>
        <origin
        xyz="0 0 0.08"
        rpy="0 0 0" />
        <geometry>
            <box size="0.65 0.65 0.28" />
        </geometry>
    </collision>
  </link>
  <joint name="base_link_box_to_base_link" type="fixed">
        <parent link="base_link" />
        <child link="base_link_box"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->


  <link
    name="wheel_L1_Link">
    <inertial>
      <origin
        xyz="0.021233 0.021189 -0.0013868"
        rpy="0 0 0" />
      <mass
        value="1.0807" />
      <inertia
        ixx="0.0039402"
        ixy="-0.0012114"
        ixz="7.9163E-05"
        iyy="0.0039353"
        iyz="7.9075E-05"
        izz="0.0027315" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/wheel_L1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="wheel_L1_joint"
    type="fixed">
    <origin
      xyz="0.22487 0.223 0.045482"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_L1_Link" />
    <axis
      xyz="-0.70708 -0.70564 0.04597" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link
    name="wheel_L2_Link">
    <inertial>
      <origin
        xyz="-0.021193 0.021269 0.00049178"
        rpy="0 0 0" />
      <mass
        value="1.0807" />
      <inertia
        ixx="0.0039357"
        ixy="0.0012137"
        ixz="2.8108E-05"
        iyy="0.0039443"
        iyz="-2.8283E-05"
        izz="0.002727" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/wheel_L2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="wheel_L2_joint"
    type="fixed">
    <origin
      xyz="-0.21914 0.22383 0.065141"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_L2_Link" />
    <axis
      xyz="0.70575 -0.70827 -0.016588" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link
    name="wheel_R1_Link">
    <inertial>
      <origin
        xyz="0.021193 -0.021268 -0.00050445"
        rpy="0 0 0" />
      <mass
        value="1.0807" />
      <inertia
        ixx="0.0039356"
        ixy="0.0012137"
        ixz="2.8667E-05"
        iyy="0.0039443"
        iyz="-2.8842E-05"
        izz="0.002727" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/wheel_R1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="wheel_R1_joint"
    type="fixed">
    <origin
      xyz="0.22445 -0.22134 0.054715"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_R1_Link" />
    <axis
      xyz="-0.70575 0.70827 0.016588" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link
    name="wheel_R2_Link">
    <inertial>
      <origin
        xyz="-0.021233 -0.02119 0.0013741"
        rpy="0 0 0" />
      <mass
        value="1.0807" />
      <inertia
        ixx="0.0039402"
        ixy="-0.0012114"
        ixz="7.8604E-05"
        iyy="0.0039353"
        iyz="7.8516E-05"
        izz="0.0027314" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/wheel_R2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="wheel_R2_joint"
    type="fixed">
    <origin
      xyz="-0.21955 -0.22051 0.074375"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_R2_Link" />
    <axis
      xyz="0.70708 0.70564 -0.04597" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
 <link
    name="body-1-link">
    <inertial>
      <origin
        xyz="-0.17347 0.012324 0.077535"
        rpy="0 0 0" />
      <mass
        value="11.333" />
      <inertia
        ixx="0.038975"
        ixy="0.00044978"
        ixz="0.023207"
        iyy="0.096328"
        iyz="-0.00033968"
        izz="0.080329" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint1"
    type="revolute">
    <origin
      xyz="0.14847 0.0022192 0.11352"
      rpy="0 0.2 0" />
    <parent
      link="base_link" />
    <child
      link="body-1-link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.2"
      upper="0.7"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link
    name="body-2-link">
    <inertial>
      <origin
        xyz="0.20978 -0.0044439 -0.0092049"
        rpy="0 0 0" />
      <mass
        value="4.1892" />
      <inertia
        ixx="0.0081838"
        ixy="0.00022892"
        ixz="0.0052788"
        iyy="0.13494"
        iyz="-0.00016636"
        izz="0.12718" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_joint2"
    type="revolute">
    <origin
      xyz="-0.34673 0.0035571 0.15546"
      rpy="0 -1.2 0" />
    <parent
      link="body-1-link" />
    <child
      link="body-2-link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.7"
      upper="0.7"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link
    name="body-3-link">
    <inertial>
      <origin
        xyz="0.00066546 0.01119 0.013063"
        rpy="0 0 0" />
      <mass
        value="6.0155" />
      <inertia
        ixx="0.018935"
        ixy="4.583E-05"
        ixz="-0.00012489"
        iyy="0.019464"
        iyz="0.0004566"
        izz="0.016183" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist3_Link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="body_joint3"
    type="revolute">
    <origin
      xyz="0.41959 -0.00078121 -0.018579"
      rpy="0 1 0" />
    <parent
      link="body-2-link" />
    <child
      link="body-3-link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.7"
      upper="0.7"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link
    name="body-4-link">
    <inertial>
      <origin
        xyz="0.00642901883725433 0.00391723902289072 0.189573576879631"
        rpy="0 0 0" />
      <mass
        value="6.25131702614813" />
      <inertia
        ixx="0.0170612766140414"
        ixy="2.57182323365169E-05"
        ixz="-0.000228781954054044"
        iyy="0.0199958829955091"
        iyz="-0.000162149552598165"
        izz="0.0119441449150135" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/waist4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
      xyz="0 0 0.14"
      rpy="0 0 0" />
      <geometry>
          <box size="0.17 0.17 0.28" />
      </geometry>
    </collision>
  </link>

  <!-- <link name="body-4-link_box">
    <visual>
      <origin
      xyz="0 0 0.14"
      rpy="0 0 0" />
        <geometry>
            <box size="0.17 0.17 0.28" />
        </geometry>
        <material name="body-4-link_box_transparent">
          <color rgba="1 0 0 0.5" />
        </material>
    </visual>
    <collision>
      <origin
      xyz="0 0 0.14"
      rpy="0 0 0" />
      <geometry>
          <box size="0.17 0.17 0.28" />
      </geometry>
    </collision>
  </link>
  <joint name="body-4-link_box_to_body-4-link" type="fixed">
        <parent link="body-4-link" />
        <child link="body-4-link_box"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <joint
    name="body_joint4"
    type="revolute">
    <origin
      xyz="0.0054003 0.0025272 0.12185"
      rpy="0 0 0" />
    <parent
      link="body-3-link" />
    <child
      link="body-4-link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7"
      upper="0.7"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>

   <link
    name="AL1">
    <inertial>
      <origin
        xyz="0.092938 0.061725 -0.1549"
        rpy="0 0 0" />
      <mass
        value="4.1538" />
      <inertia
        ixx="0.0030769"
        ixy="-6.0408E-05"
        ixz="-4.7047E-05"
        iyy="0.0031853"
        iyz="5.1582E-05"
        izz="0.0029439" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL1.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="l_arm_Joint1"
    type="revolute">
    <origin
      xyz="0.010124 0.17462 0.2212"
      rpy="1.5708 0 0" />
    <parent
      link="body-4-link" />
    <child
      link="AL1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="3.141592653589793"
      effort="100"
      velocity="2" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>

  <link
    name="AL2">
    <inertial>
      <origin
        xyz="0.031266 8.259E-06 0.050803"
        rpy="0 0 0" />
      <mass
        value="0.28432" />
      <inertia
        ixx="0.00034291"
        ixy="1.5831E-08"
        ixz="-6.9476E-05"
        iyy="0.00040808"
        iyz="4.947E-09"
        izz="0.00036954" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_arm_Joint2"
    type="revolute">
    <origin
      xyz="0.0565 0 -0.067"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="AL1" />
    <child
      link="AL2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="0.17453292543243227"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AL3">
    <inertial>
      <origin
        xyz="-0.0033246 -7.7807E-05 -0.1286"
        rpy="0 0 0" />
      <mass
        value="2.3857" />
      <inertia
        ixx="0.0022934"
        ixy="3.7749E-06"
        ixz="2.9236E-05"
        iyy="0.0024369"
        iyz="-4.9066E-06"
        izz="0.0016228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_arm_Joint3"
    type="revolute">
    <origin
      xyz="0.059 0 0.0565"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="AL2" />
    <child
      link="AL3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="3.141592653589793"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AL4">
    <inertial>
      <origin
        xyz="-0.00058038 -0.094708 0.042703"
        rpy="0 0 0" />
      <mass
        value="1.2408" />
      <inertia
        ixx="0.00088684"
        ixy="4.2769E-06"
        ixz="1.6585E-06"
        iyy="0.000545"
        iyz="2.5663E-05"
        izz="0.0008587" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_arm_Joint4"
    type="revolute">
    <origin
      xyz="-0.0424 0 -0.186"
      rpy="1.5708 0 1.5708" />
    <parent
      link="AL3" />
    <child
      link="AL4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="2"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AL5">
    <inertial>
      <origin
        xyz="1.803E-05 0.0011913 -0.034704"
        rpy="0 0 0" />
      <mass
        value="0.99941" />
      <inertia
        ixx="0.00046967"
        ixy="5.4165E-07"
        ixz="-5.0766E-07"
        iyy="0.00038226"
        iyz="1.8522E-06"
        izz="0.00046884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_arm_Joint5"
    type="revolute">
    <origin
      xyz="0 -0.14 0.0424"
      rpy="-1.5708 0 0" />
    <parent
      link="AL4" />
    <child
      link="AL5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="3.141592653589793"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AL6">
    <inertial>
      <origin
        xyz="0.0013138 -0.067927 0.033214"
        rpy="0 0 0" />
      <mass
        value="1.0311" />
      <inertia
        ixx="0.00038835"
        ixy="1.5406E-06"
        ixz="7.268E-09"
        iyy="0.00046996"
        iyz="8.5446E-06"
        izz="0.00048276" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AL6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_arm_Joint6"
    type="revolute">
    <origin
      xyz="0 0.0345 -0.035"
      rpy="1.5708 0 0" />
    <parent
      link="AL5" />
    <child
      link="AL6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="arml_7">
    <inertial>
      <origin
        xyz="-0.0324053971189145 -7.0025527439399E-06 -0.107918493513296"
        rpy="0 0 0" />
      <mass
        value="0.586132810656951" />
      <inertia
        ixx="0.000567910575999341"
        ixy="1.00555751990463E-07"
        ixz="-1.30727555736003E-05"
        iyy="0.00068606856872478"
        iyz="3.21860405805132E-08"
        izz="0.000310060586668295" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/arml_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/arml_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_arm_Joint7"
    type="revolute">
    <origin
      xyz="0.0345 -0.07 0.0345"
      rpy="-1.5708 0 0" />
    <parent
      link="AL6" />
    <child
      link="arml_7" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="100"
      velocity="2" />
  </joint>

  <link
    name="AR1">
    <inertial>
      <origin
        xyz="0.0083594 9.2398E-05 0.062254"
        rpy="0 0 0" />
      <mass
        value="1.0518" />
      <inertia
        ixx="0.00093105"
        ixy="5.3362E-06"
        ixz="1.9958E-05"
        iyy="0.001001"
        iyz="-9.6291E-07"
        izz="0.00090721" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint1"
    type="revolute">
    <origin
      xyz="0.009804 -0.1653 0.22826"
      rpy="1.5708 0 0" />
    <parent
      link="body-4-link" />
    <child
      link="AR1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="3.141592653589793"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AR2">
    <inertial>
      <origin
        xyz="0.031266 -8.259E-06 -0.050803"
        rpy="0 0 0" />
      <mass
        value="0.28432" />
      <inertia
        ixx="0.00034291"
        ixy="-1.583E-08"
        ixz="6.9476E-05"
        iyy="0.00040808"
        iyz="4.9468E-09"
        izz="0.00036954" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint2"
    type="revolute">
    <origin
      xyz="0.0565 0 0.067"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="AR1" />
    <child
      link="AR2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="0.17453292543243227"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AR3">
    <inertial>
      <origin
        xyz="-0.0033232 3.5802E-06 0.1286"
        rpy="0 0 0" />
      <mass
        value="2.3857" />
      <inertia
        ixx="0.0022934"
        ixy="-3.7749E-06"
        ixz="-2.9436E-05"
        iyy="0.0024369"
        iyz="-4.0989E-06"
        izz="0.0016228" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint3"
    type="revolute">
    <origin
      xyz="0.059 0 -0.0565"
      rpy="1.5708 0 1.5708" />
    <parent
      link="AR2" />
    <child
      link="AR3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="3.141592653589793"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AR4">
    <inertial>
      <origin
        xyz="-0.00058026 -0.094709 -0.042737"
        rpy="0 0 0" />
      <mass
        value="1.2408" />
      <inertia
        ixx="0.0008869"
        ixy="4.2756E-06"
        ixz="-9.5056E-07"
        iyy="0.00054498"
        iyz="-2.4428E-05"
        izz="0.00085884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint4"
    type="revolute">
    <origin
      xyz="-0.0424 0 0.186"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="AR3" />
    <child
      link="AR4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="2"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AR5">
    <inertial>
      <origin
        xyz="-1.803E-05 0.0011913 0.034704"
        rpy="0 0 0" />
      <mass
        value="0.99941" />
      <inertia
        ixx="0.00046967"
        ixy="-5.4165E-07"
        ixz="-5.0766E-07"
        iyy="0.00038226"
        iyz="-1.8522E-06"
        izz="0.00046884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint5"
    type="revolute">
    <origin
      xyz="0 -0.14 -0.0424"
      rpy="1.5708 0 0" />
    <parent
      link="AR4" />
    <child
      link="AR5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.141592653589793"
      upper="3.141592653589793"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="AR6">
    <inertial>
      <origin
        xyz="0.0013138 -0.06797 -0.033214"
        rpy="0 0 0" />
      <mass
        value="1.0311" />
      <inertia
        ixx="0.00038835"
        ixy="2.3961E-07"
        ixz="-7.225E-09"
        iyy="0.00046996"
        iyz="-8.9045E-06"
        izz="0.00048276" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/AR6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint6"
    type="revolute">
    <origin
      xyz="0 0.0345 0.035"
      rpy="-1.5708 0 0" />
    <parent
      link="AR5" />
    <child
      link="AR6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="100"
      velocity="2" />
  </joint>
  <link
    name="armr_7">
    <inertial>
      <origin
        xyz="-0.0324053971156356 -7.00255072730305E-06 -0.107918493489955"
        rpy="0 0 0" />
      <mass
        value="0.586132810828243" />
      <inertia
        ixx="0.000567910576053913"
        ixy="1.00555760878318E-07"
        ixz="-1.30727555926915E-05"
        iyy="0.000686068568778649"
        iyz="3.21860601291459E-08"
        izz="0.000310060586688921" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/armr_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/armr_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_arm_Joint7"
    type="revolute">
    <origin
      xyz="0.0345 -0.07 -0.0345"
      rpy="-1.5708 0 0" />
    <parent
      link="AR6" />
    <child
      link="armr_7" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="100"
      velocity="2" />
  </joint>

  <link name="r_arm_Link7_tool"/>
  <joint name="r_arm_Link7_to_r_arm_Link7_tool" type="fixed">
        <parent link="armr_7" />
        <child link="r_arm_Link7_tool"/>
        <origin xyz="-0.0345 0 -0.25" rpy="0 0 0"/>
  </joint>

  <link name="l_arm_Link7_tool"/>
  <joint name="l_arm_Link7_to_l_arm_Link7_tool" type="fixed">
        <parent link="arml_7" />
        <child link="l_arm_Link7_tool"/>
        <origin xyz="-0.0345 0 -0.25" rpy="0 0 0"/>
  </joint>

  <!-- <link name="r_camera">
    <visual>
      <geometry>
        <box size="0.045 0.08 0.06"/>
      </geometry>
    </visual>
  </link>

  <joint name="r_camera_to_r_arm_Link7_tool" type="fixed">
    <parent link="armr_7" />
    <child link="r_camera"/>
    <origin xyz="-0.0345 -0.065 -0.085" rpy="0 0 0"/>
  </joint>

  <link name="l_camera">
    <visual>
      <geometry>
        <box size="0.045 0.08 0.06"/>
      </geometry>
    </visual>
  </link>

  <joint name="l_camera_to_r_arm_Link7_tool" type="fixed">
    <parent link="arml_7" />
    <child link="l_camera"/>
    <origin xyz="-0.0345 0.065 -0.085" rpy="0 0 0"/>
  </joint> -->

  <link name="neck_1">
    <inertial>
      <origin xyz="-3.98702122123355E-05 -0.00304670824111675 0.015155576535357" rpy="0 0 0" />
      <mass value="0.069217783526509" />
      <inertia ixx="6.53608744660416E-05" ixy="-5.77336143455897E-07" ixz="-1.62180434065858E-07" iyy="2.12658183651949E-05" iyz="-1.23898218783182E-05" izz="5.56066481947565E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://moveit_resources_qj2m_description/meshes/neck_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/neck_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint3"
    type="revolute">
    <origin
      xyz="0.01625 0.0076022 0.36656"
      rpy="0 0 0" />
    <parent
      link="body-4-link" />
    <child
      link="neck_1" />
    <axis
      xyz="-0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="1" />
    <dynamics
      damping="0.7"
      friction="0.3" />
  </joint>
  <link name="neck_2">
    <inertial>
      <origin xyz="0.00172478356124867 -0.0446289033206881 -7.00947686018694E-05" rpy="0 0 0" />
      <mass value="0.549843917090051" />
      <inertia ixx="0.000481918698095715" ixy="1.69169202254466E-06" ixz="4.10316365080914E-07" iyy="0.000270268494318136" iyz="-1.45573929346226E-06" izz="0.000510053007901269" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://moveit_resources_qj2m_description/meshes/neck_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/neck_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_joint2" type="revolute">
    <origin xyz="0.000667569374137766 0.0509956307062744 0.0389999999999999" rpy="0 0 0" />
    <parent link="neck_1" />
    <child link="neck_2" />
    <axis xyz="0 1 0" />
    <limit
      lower="-0.523"
      upper="0.436"
      effort="8.9"
      velocity="6.17" />
  </joint>
  <link name="neck_3">
    <inertial>
      <origin xyz="-0.0159416127304208 0.000310890008358008 0.0624254441319666" rpy="0 0 0" />
      <mass value="0.777772649255018" />
      <inertia ixx="0.000477816990390545" ixy="4.75152319679099E-06" ixz="1.34920289119043E-05" iyy="0.000570422598002522" iyz="1.36708605039103E-07" izz="0.000587043924022094" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://moveit_resources_qj2m_description/meshes/neck_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://moveit_resources_qj2m_description/meshes/neck_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_joint1" type="revolute">
    <origin xyz="0.0333033385722358 -0.0534405056108477 0" rpy="0 0 0" />
    <parent link="neck_2" />
    <child link="neck_3" />
    <axis xyz="1 0 0" />
    <limit
      lower="-0.436"
      upper="0.436"
      effort="8.9"
      velocity="6.17" />
  </joint>

</robot>

